@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins";
}



.backdrop {
    /* background-color: #E6E6E6; */
    width: 100%;
    height: 100vh;

    position: relative;


    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;

    display: block;
  }

  .hidden {
    display: none;
  }

  .content {
    /* background-color: #4C0863; */
    /* color: white; */
    border-radius: 10px;
    padding:2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;

    top:50%;
    left:50%;
    transform: translate(-50%, -50%);

  }

  .title-container {
    display: flex;
    flex-direction: row;
    align-items: center;

}

  .title {
    margin-bottom: .5rem;
  }


  .logo-container {
    width: 30px;
    margin-inline: .5rem;
  }
  .tech-logo {
    width: 100%;
  }

  

  .description {
    text-align: center;
  }

  .confirm-btn {
    background-color: black;
    color:white;
    margin-top: 1rem;
    width: 5rem;
    height: 2rem;
    border-radius: 8px;
        &:hover {
            cursor:pointer;
        }
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
  }